.cancel {
    @include grid(1);
    place-items: center;
    text-align: center;
    padding-bottom: 2rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/copa.svg');

    @include tablet {
        margin-top: 4rem;
    }

    h3 {
        font: normal normal 700 0.75rem/12px InterstateLight;
        letter-spacing: 0.4em;

        &::before {
            content: '';
            position: absolute;
            margin: 2rem 0 0 6.5rem;
            width: 3%;
            height: 2px;
            background: $tertiary;

            @include mobile {
                width: 14%;

            }
        }
    }
    p {
        width: 383px;
        font: normal normal 300 0.75rem/12px InterstateLight;
        margin: 3rem 0 1rem 0;
        @include mobile {
            width: 260px;
        }
    }
    a {
        color: $primary;
        text-decoration: underline!important;
        font: normal normal 700 0.75rem/12px InterstateLight;
        transition: .3s ease-out;
        &:hover {
            color: $tertiary;
        }
    }
}