<div id="search" class="input-group" class="container-search">
  <input type="text" name="search" value="{{ search }}" class="input-desc" />
  <input type="text" name="search" value="{{ search }}" class="input-hidden" placeholder="Buscar..." />  
  <span id="close-search" class="close-search">X</span>
  <span class="input-group-btn">
    <button type="button" class="button-search" title="{{ text_search }}"><i class="fa fa-search"></i></button>
  </span>
</div>